/* Tailwind CSS initializations */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom font declaratations */
@font-face {
  font-family: 'Lufga-Regular';
  src: local('Lufga-Regular'), url(./[1]shared/fonts/lufga/lufgaregular.otf) format('opentype');
}

@font-face {
  font-family: 'Lufga-Medium';
  src: local('Lufga-Medium'), url(./[1]shared/fonts/lufga/lufgamedium.otf) format('opentype');
}

