/* Tailwind CSS initializations */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font declaratations */
@font-face {
  font-family: 'Lufga-Regular';
  src: local('Lufga-Regular'), url(./[1]shared/fonts/lufga/lufgaregular.otf) format('opentype');
}

@font-face {
  font-family: 'Lufga-Medium';
  src: local('Lufga-Medium'), url(./[1]shared/fonts/lufga/lufgamedium.otf) format('opentype');
}

*, *::before, *::after {
  /* box-sizing: inherit; */

  margin: 0;
  padding: 0;

  overflow: hidden;
}

html {
  /* box-sizing: border-box; */
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  
  background: rgb(233, 81, 200); /* should never show up on any device */
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}

input:focus {
  outline: 0;
}

button:focus {
  outline: 0
}